.border-unset {
  border-style: unset;
}

.radius-left-5 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.radius-right-5 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.border-5 {
  border-radius: 5px;
}
