.movc-btn {
  height: 30px;

  &.movc-btn-success {
    background-color: $secondary;
    border-color: $secondary-tint;
    color: $secondary-contrast;
  }

  &.movc-btn-tertiay {
    background-color: $tertiary;
    border-color: $tertiary-tint;
    color: $tertiary-contrast;
  }
  
  &.movc-btn-hero {
    background-color: $hero;
    border-color: $hero-tint;
    color: $hero-contrast;
  }
}

