<div class="container-fluid bg-white">
  <div class="container movc-header">
    <div class="w-100">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/images/movox-logo-master.png" height="60"></a>
        <div class="d-flex align-content-center">
          <span class="movc-typo-md-3 movc-bold line-height-unset mr-4">YOUR MONTHLY BILL</span>
          <button class="movc-btn movc-btn-print" type="button" (click)="print()">PRINT</button>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="container movc-container ">

    <div class="movc-typo-xs-2 d-flex justify-content-end my-4">MOVOX PTY LTD 32 602 123 491</div>

    <div class="row no-gutters movc-p-30 movc-bg-primary movc-box-shadow-2">

      <div class="col-12">

        <div class="row no-gutters justify-content-between">

          <div class="col d-flex">
            <div class="movc-card mb-3 mr-3">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="movc-label-xl movc-bold movc-accout-total">CUSTOMER</div>
                  <hr class="my-2" />
                </div>
                <div class="col-12">
                  &nbsp;
                </div>
                <div class="col-12 movc-typo-xs-2 mb-2">ACCOUNT.NAME</div>
                <div class="col-12 movc-typo-xs-2 mb-2">ADDRESS LINE 1</div>
                <div class="col-12 movc-typo-xs-2 mb-2">ADDRESS LINE 1</div>
                <div class="col-12 movc-typo-xs-2 mb-2">SUBURB</div>
                <div class="col-6 movc-typo-xs-2 mb-2">STATE</div>
                <div class="col-6 movc-typo-xs-2 mb-2">POST CODE</div>
              </div>
            </div>
          </div>

          <div class="col d-flex">
            <div class="movc-card mb-3 mr-3">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="movc-label-xl movc-bold movc-accout-total">THIS BILL</div>
                  <hr class="my-2" />
                </div>
                <div class="col-12 d-flex justify-content-between text-right">
                  <div class="movc-typo-xs-2"><span class="mr-1">INVOICE</span><span>123456</span></div>
                  <div class="movc-typo-xs-2"><span>03 Nov 18</span></div>
                </div>
                <div class="col-12 text-right movc-typo-lg-3 movc-bold mt-3 pt-1">$990.85</div>
                <div class="col-12 text-right movc-typo-xs-2 mt-2 mb-3">INCLUDES GST OF $53.76</div>
                <div class="col-6">
                  <div class="movc-btn movc-btn-secondary radius-left-5 movc-bold w-100 mt-4 pt-2">DUE
                    BY</div>
                </div>
                <div class="col-6">
                  <div class="movc-btn movc-btn-tertiay radius-right-5 w-100 mt-4 pt-2">17 JAN 2017</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col d-flex">
            <div class="movc-card mb-3">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="movc-label-xl movc-bold movc-accout-total">ACCOUNT TOTAL</div>
                  <hr class="my-2" />
                </div>
                <div class="col-12 text-right">
                  <div class="movc-typo-xs-2"><span class="mr-1">ACCOUNT</span><span>123456</span></div>
                </div>
                <div class="col-12 text-right movc-typo-lg-3 movc-bold mt-3 pt-1">$990.85</div>
                <div class="col-12 text-right movc-typo-xs-2 movc-danger mt-2 mb-3">OVERDUE $633.50</div>
                <div class="col-12">
                  <button class="movc-btn movc-btn-success movc-primary movc-bold border-5 w-100 mt-4 pt-2">PAY
                    NOW</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="movc-card">
          <div class="d-flex justify-content-between">
            <span class="movc-label-sm movc-bold">ACCOUNT ACTIVITY</span>
            <div><i class="fa fa-angle-down movc-hero movc-bold movc-typo-lg"></i></div>
          </div>
          <hr class="mt-1 mb-0">
        </div>
      </div>

      <div class="col-12">

        <div class="movc-card">
          <div class="d-flex justify-content-between">
            <span class="movc-label-sm movc-bold">PLANS & USAGE</span>
            <div><i class="fa fa-angle-down movc-hero movc-bold movc-typo-lg"></i></div>
          </div>
          <hr class="mt-1 mb-0">
        </div>
      </div>

      <div class="col-12">

        <div class="movc-card">
          <div class="d-flex justify-content-between">
            <span class="movc-label-sm movc-bold">USAGE DETAIL</span>
            <div><i class="fa fa-angle-down movc-hero movc-bold movc-typo-lg"></i></div>
          </div>
          <hr class="mt-1 mb-0">
        </div>
      </div>

      <div class="col-12">
        <div class="movc-card">
          <div class="d-flex justify-content-between">
            <span class="movc-label-sm movc-bold">OTHER SERVICES</span>
            <div><i class="fa fa-angle-down movc-hero movc-bold movc-typo-lg"></i></div>
          </div>
          <hr class="mt-1 mb-0">
        </div>
      </div>

      <div class="col-12 mt-5">
        <div class="movc-card">
          <div class="row no-gutters">
            <div class="col col-auto">
              <img class="movc-image-small" src="/assets/images/bpay.png">
              <div class="movc-bpay mt-3">
                <div class="row no-gutters movc-lineheight-reduced">
                  <div class="col-12"><span class="movc-typo-xs-2 movc-bold mr-2">Biller Code</span><span class="movc-typo-xs-2">197723</span></div>
                  <div class="col-12"><span class="movc-typo-xs-2 movc-bold mr-2">REF</span><span class="movc-typo-xs-2">987654321987</span></div>
                </div>
              </div>
            </div>

            <div class="col col-auto">
              <div class="movc-w-280">
                <div class="row no-gutters">
                  <div class="col">
                    <img class="movc-image-small" src="/assets/images/visa.png">
                  </div>
                  <div class="col">
                    <img class="movc-image-small" src="/assets/images/mastercard.png">
                  </div>
                  <div class="col">
                    <img class="movc-image-small" src="/assets/images/amex.png">
                  </div>
                  <div class="col">
                    <img class="movc-image-small" src="/assets/images/diners-club.png">
                  </div>
                </div>
              </div>
              <div class="movc-w-440">
                <div class="row mt-3 movc-lineheight-reduced">
                  <div class="col col-auto">
                    <span class="movc-typo-xs-2 movc-bold mr-2">PHONE</span><span class="movc-typo-xs-2">1800 100 800</span>
                  </div>
                  <div class="col col-auto">
                    <span class="movc-typo-xs-2 movc-bold mr-2">ONLINE</span><span class="movc-typo-xs-2">movox.com.au/pay-a-bill</span>
                  </div>
                  <div class="col col-auto">
                    <span class="movc-typo-xs-2 movc-bold mr-2">Biller ID</span><span class="movc-typo-xs-2">999441</span>
                  </div>
                  <div class="col col-auto">
                    <span class="movc-typo-xs-2 movc-bold mr-2">REF</span><span class="movc-typo-xs-2">987654</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <img class="movc-image-small" src="/assets/images/directdebit.png">
              <div class="movc-directdebit mt-3 w-100">
                <div class="row no-gutters movc-lineheight-reduced">
                  <div class="col-12 movc-typo-xs-2">Automatic payment from your bank account on the due
                    date<a href="javascript:void(0)" class="movc-bold"> SETUP ></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
