<div class="container">
  <nav class="navbar navbar-light p-0">
    <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/images/movox-logo-master.png" height="70"></a>
    <div class="d-flex align-content-center">
      <span class="movc-typo-24 movc-bold mr-4">YOUR MONTHLY BILL</span>
      <button class="movc-btn movc-btn-hero border-none movc-typo-lg movc-radius-5" type="button">PRINT</button>
    </div>
  </nav>
</div>

<div class="container-fluid bg-light">

  <div class="container pt-4">

    <div class="movc-typo-md d-flex justify-content-end"> MOVOX PTY LTD 32 602 123 491</div>

    <div class="row no-gutters pt-4">

      <div class="col-12">
        <div class="row no-gutters justify-content-between">
          <div class="col d-flex">
            <div class="movc-card mb-3 mr-2">

              <div class="d-flex justify-content-between">
                <span class="movc-label-lg movc-bold">CUSTOMER</span>
                <div class="movc-line-h-21"><label class="movc-label-sm movc-bold mr-1">ACCOUNT</label><span class="movc-label-sm">123456</span></div>
              </div>

              <div class="row no-gutters movc-label-sm">
                <div class="col-12">ACCOUNT.NAME</div>
                <div class="col-12">ADDRESS LINE 1</div>
                <div class="col-12">ADDRESS LINE 1</div>
                <div class="col-12">SUBURB</div>
                <div class="col-6">STATE</div>
                <div class="col-6">POST CODE</div>
              </div>

            </div>
          </div>
          <div class="col d-flex">
            <div class="movc-card mb-3 mr-2">

              <div class="d-flex justify-content-between">
                <span class="movc-label-lg movc-bold">THIS BILL</span>
                <div class="movc-line-h-21"><label class="movc-label-sm movc-bold mr-1">INVOICE</label><span class="movc-label-sm">123456</span></div>
              </div>

              <div class="row no-gutters">
                <div class="col-12 text-right movc-typo-18 movc-medium mt-2">$591.35</div>
                <div class="col-12 text-right movc-label-sm movc-medium mb-3">INCLUDES GST OF $53.76</div>
                <div class="col-6"><button class="movc-btn movc-btn-tertiay border-none movc-bold movc-typo-xl movc-bold w-100">DUE
                    BY</button></div>
                <div class="col-6"><button class="movc-btn movc-btn-tertiay border-none w-100 movc-typo-lg">17 JAN
                    2017</button></div>
              </div>

            </div>
          </div>
          <div class="col d-flex">
            <div class="movc-card  mb-3">

              <div class="d-flex justify-content-between">
                <span class="movc-label-lg movc-bold">ACCOUNT TOTAL</span>
                <div class="movc-line-h-21"><label class="movc-label-sm movc-bold">DATE</label><span class="movc-label-sm">123456</span></div>
              </div>

              <div class="row no-gutters">
                <div class="col-12 text-right movc-typo-18 movc-medium mt-2">$990.85</div>
                <div class="col-12 text-right movc-label-sm movc-medium movc-danger mb-3">OVERDUE $633.50</div>
                <div class="col-12"><button class="movc-btn movc-btn-success border-none w-100 movc-typo-xl movc-bold movc-primary">PAY
                    NOW</button></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex movc-card justify-content-between mb-3">
          <span class="movc-label-lg movc-bold">ACCOUNT ACTIVITY</span>
          <div><span></span> &nbsp;&nbsp;<span class="movc-hero movc-bold">V</span></div>
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex movc-card justify-content-between  mb-3">
          <span class="movc-label-lg movc-bold">PLANS & USAGE</span>
          <div><span>$383.00</span> &nbsp;&nbsp;<span class="movc-hero movc-bold">V</span></div>
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex movc-card justify-content-between mb-3">
          <span class="movc-label-lg movc-bold">USAGE DETAIL</span>
          <div><span>$99.00</span> &nbsp;&nbsp;<span class="movc-hero movc-bold">V</span></div>
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex movc-card justify-content-between  mb-3">
          <span class="movc-label-lg movc-bold">OTHER SERVICES</span>
          <div><span>$160.00</span> &nbsp;&nbsp;<span class="movc-hero movc-bold">V</span></div>
        </div>
      </div>

      <div class="col-12">
        <div class="movc-card">
          <div class="row no-gutters">

            <div class="col col-auto">
              <img class="movc-image-small" src="/assets/images/bpay.png">
              <div class="movc-bpay mt-3">
                <div class="row no-gutters movc-lh-thin">
                  <div class="col-12"><label class="movc-label-sm movc-bold mr-1">BPAY Biller Code</label><span class="movc-typo-sm-1">197723</span></div>
                  <div class="col-12"><label class="movc-label-sm movc-bold mr-1">Reference</label><span class="movc-typo-sm-1">987654321987</span></div>
                </div>
              </div>
            </div>

            <div class="col col-auto mr-5">
              <img class="movc-image-small" src="/assets/images/directdebit.png">
              <div class="movc-directdebit mt-3">
                <div class="row no-gutters">
                  <div class="col-12 movc-typo-sm-1">Automatic payment from your bank account on he due
                    date&nbsp;&nbsp;<a href="javascript:void(0)" class="movc-bold"> SETUP DIRECT DEBIT ></a></div>
                </div>
              </div>
            </div>

            <div class="col">

              <div class="row no-gutters">
                <div class="col">
                  <img class="movc-image-small" src="/assets/images/visa.png">
                </div>
                <div class="col">
                  <img class="movc-image-small" src="/assets/images/mastercard.png">
                </div>
                <div class="col">
                  <img class="movc-image-small" src="/assets/images/amex.png">
                </div>
                <div class="col">
                  <img class="movc-image-small" src="/assets/images/diners-club.png">
                </div>
              </div>

              <div class="row mt-3 movc-lh-thin">
                <div class="col col-auto">
                  <div>
                    <label class="movc-label-sm movc-bold mr-1">PHONE</label><span class="movc-typo-md">1800 100 800</span>
                  </div>
                </div>
                <div class="col col-auto">
                  <div>
                    <label class="movc-label-sm movc-bold mr-1">Biller ID</label><span class="movc-typo-md">999441</span>
                  </div>
                </div>
                <div class="col col-auto">
                  <div>
                    <label class="movc-label-sm movc-bold mr-1">Reference</label><span class="movc-typo-md">987654</span>
                  </div>
                </div>
                <div class="col col-auto">
                  <div>
                    <label class="movc-label-sm movc-bold mr-1">ONLINE</label><span class="movc-typo-md">movox.com.au/pay-a-bill</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
