  $hero: #0099ff;
  $hero-rgb: 0,153,255;
  $hero-contrast: #ffffff;
  $hero-contrast-rgb: 255,255,255;
  $hero-shade: #0087e0;
  $hero-tint: #1aa3ff;

  $primary: #ffffff;
  $primary-rgb: 255,255,255;
  $primary-contrast: #000000;
  $primary-contrast-rgb: 0,0,0;
  $primary-shade: #e0e0e0;
  $primary-tint: #ffffff;

  $secondary: #ff6600;
  $secondary-rgb: 255,102,0;
  $secondary-contrast: #000000;
  $secondary-contrast-rgb: 0,0,0;
  $secondary-shade: #e05a00;
  $secondary-tint: #ff751a;
  
  $tertiary: #ffceae;
  $tertiary-rgb: 255,206,174;
  $tertiary-contrast: #000000;
  $tertiary-contrast-rgb: 0,0,0;
  $tertiary-shade: #e0b599;
  $tertiary-tint: #ffd3b6;

  $success: #17AE17;
  $success-rgb: 23,174,23;
  $success-contrast: #ffffff;
  $success-contrast-rgb: 255,255,255;
  $success-shade: #149914;
  $success-tint: #2eb62e;

  $warning: #ffce00;
  $warning-rgb: 255,206,0;
  $warning-contrast: #ffffff;
  $warning-contrast-rgb: 255,255,255;
  $warning-shade: #e0b500;
  $warning-tint: #ffd31a;

  $danger: #ff0000;
  $danger-rgb: 255,0,0;
  $danger-contrast: #ffffff;
  $danger-contrast-rgb: 255,255,255;
  $danger-shade: #e00000;
  $danger-tint: #ff1a1a;

  $dark: #222428;
  $dark-rgb: 34,34,34;
  $dark-contrast: #ffffff;
  $dark-contrast-rgb: 255,255,255;
  $dark-shade: #1e2023;
  $dark-tint: #383a3e;

  $medium: #989aa2;
  $medium-rgb: 152,154,162;
  $medium-contrast: #ffffff;
  $medium-contrast-rgb: 255,255,255;
  $medium-shade: #86888f;
  $medium-tint: #a2a4ab;

  $light: #F2F2F2;
  $light-rgb: 242,242,242;
  $light-contrast: #000000;
  $light-contrast-rgb: 0,0,0;
  $light-shade: #d5d5d5;
  $light-tint: #f3f3f3;
  