.movc-bold {
  font-weight: bold;
}

.movc-medium {
  font-weight: 500;
}

.movc-light {
  font-weight: 300;
}

.movc-p-6 {  
  padding: 25px;
}

.line-height-unset {
  line-height: unset!important;
}

.movc-w-310 {
  width: 310px;
}
