.movc-bold {
  font-weight: bold;
}

.movc-medium {
  font-weight: 500;
}

.movc-light {
  font-weight: 300;
}

.movc-danger {
    color: $danger;
}

.movc-primary {
  color: $primary;
}

.movc-hero {
    color: $hero;
}


.movc-line-h-21 {
  line-height: 21px;
}